<div class="row">
    <% @cocktails["drinks"].each do |cocktail| %>
        <div class="col-sm-4">
            <div class="card cocktail mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src=<%= cocktail["strDrinkThumb"]%> class="tbl-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row s-font">
                                        <div class="col right">
                                            <b>NAME :</b>
                                        </div>
                                        <div class="col left">
                                            <%= link_to cocktail["strDrink"], cocktail_detail_path(cocktail["idDrink"]) %>
                                        </div>
                                    </div>
                    
                                    <div class="row s-font">
                                        <div class="col right">
                                            <b>CATEGORY :</b>
                                        </div>
                                        <div class="col left">
                                            <%= cocktail["strCategory"]%>
                                        </div>
                                    </div>
                    
                                    <div class="row s-font">
                                        <div class="col right">
                                            <b>GLASS :</b>
                                        </div>
                                        <div class="col left">
                                            <%= cocktail["strGlass"]%>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>


        