@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    background-color: #f0f2f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #faa329, #f72c0f);
}

.btn-custom {
    background-color: #87fefa;
}

.btn-custom:hover {
    background-color: #02e3dc;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.random{
    width: 50rem;
}

.cocktail{
    width: 25rem;
    height: 15rem;
    padding-top: 2rem;
}

.ing-img{
    width: 25rem;
    height: 40rem;
    padding: 5rem;
}

.ing-details{
    height: 40rem;
}

.card{
    border-radius: 2rem;
    border: 1px solid #f99406;
    background-color: #e6fffe;
}

img {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 2rem;
    align-self: center
}

.logo {
    height: 3rem !important;
    width: 15rem !important;
    margin: 0 !important;
}

.tbl-img {
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    margin: 2rem;
    align-self: center
}

.card-header{
    border-top-right-radius: 2rem !important;
    border-top-left-radius: 2rem !important;
    background-color: #02e3dc;
    font-family: 'Mochiy Pop One', sans-serif;
}

.card-footer{
    border-bottom-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
}

a:link {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.table-box {
    border: solid 1px #faa329;
    margin-top: 6rem;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1rem;
}

tbody > tr > td {
    align-content: center;
}

.s-font {
    font-size: 14px;
    margin-bottom: 8px;
}

.list-group {
    --bs-list-group-bg: #e6fffe !important;
    --bs-list-group-border-color: #f99406;
}
